@import './../../styles/variables.scss';

.order-details-component {
    display: flex;
    justify-content: space-between;
    padding: 32px 16px;
    @include lg-max {
        flex-direction: column;
    }
    h3 {
        color: $gray;
        font: normal 700 #{$font-xl}/50px $main-font;
        margin: 16px 0;
    }
    hr {
        border: 1px solid $gray-tiny;
        border-bottom: none;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .order-information-wrapper {
        border-right: 1px solid $gray-tiny;
        padding: 16px 32px;
        flex: 70%;
    }
    .product-information-wrapper {
        flex: 30%;
        padding: 16px 32px;
    }
    .get-back {
        cursor: pointer;
        padding: 3px 16px;
        border: 1px solid $gray;
        width: 100px;
        border-radius: 15px;
        @include flexCenter();
        justify-content: flex-start;
        transition: ease-in .3s;
        p {
            margin: 0 16px;
            font: normal 700 #{$font-md}/22px $main-font;
            color: $gray;
        }
        &:hover {
            background-color: $gray;
            p {
                color: white;
            }
            img {
                filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
            }
        }
    }
    .products-container {
        max-height: 500px;
        overflow-y: scroll;
        padding-right: 16px;
        &::-webkit-scrollbar {
            width: 7px;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $gray-tiny;
            border-radius: 40px;
          }
    }
}